body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    background: rgb(255, 255, 255, 0.1);
    padding: 40px;
    width: 320px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-sizing: 0 10px 30px rgba(0,0,0,0,4);
    text-align: center;
    color: white;
}

.container h2{
    margin-bottom: 25px;
    font-weight: 600;
}
form input{

    width: 100%;
    padding: 12px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
}

button:hover{
transform: scale(1.05);
box-shadow: 0 5px 15px rgba(0,0,0,0,3);
}

form input::placeholder{
    color: white;
}

form input:focus{
    background: rgb(255, 255, 255, 0.3);
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.link a{
    margin-top: 15px;
    font-size: 14px;
}

.link a{
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover{
    text-decoration: underline;
}
.btn-voltar {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: #0011ae7c;
    transform: scale(1.03);
}